.boxWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin: 20px 20px 0 20px;
	padding: 0 20px;
	width: 750px;
	min-height: 40px;
	.actionsWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;

		.dot {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			display: inline-block;
			box-shadow: 1px 1px 1px #bbb;
			margin-right: 3px;
		}
	}
	.displayInfo {
		display: flex;
		flex-direction: column;

		width: 400px;
		min-height: inherit;
		height: 100%;
		padding: 5px;

		background: rgba(143, 218, 200, 0.2);
		border-radius: 20px;
		border: 1px solid #8fdac8;
		box-shadow: 1px 1px 1px #8fdac8;

		.tableHeader {
			padding: inherit;
			text-align: center;
		}

		.tableWrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: inherit;
		}
	}
}
