Button.Button {
	background: #8fdac833;
	text-decoration: none;
	color: black;
	border: 1px solid #8fdac8;
	text-decoration: none;
	width: 200px;
	border-radius: 20px;

	&:hover {
		background-color: #8fdac8;
	}
}
