.formWrapper {
    padding: 20px;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 500px;
        height: 500px;
        background: rgba(143, 218, 200, 0.6);
        border-radius: 20px;
        padding: 20px;
    }
}
.inputTxt {
    background: #ffffff;
    border-radius: 10px;
}
