.measurementWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    padding: 20px;

    .stack {
        background: rgba(143, 218, 200, 0.2);
        border-radius: 20px;

        &:hover {
            background-color: #8fdac8;
        }
    }
    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        padding: 10px;
        width: 400px;
    }
}
