.boxWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin-top: 30px;
	width: 750px;
	min-height: 100px;

	.displayInfo {
		display: flex;
		flex-direction: column;

		width: 400px;
		min-height: inherit;
		height: 100%;
		padding: 5px;

		background: #8fdac833;
		border-radius: 20px;

		.tableHeader {
			padding: inherit;
			text-align: center;
		}

		.tableWrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: inherit;
		}
	}
}
