.divWrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;

	height: 100%;
	padding-top: 50px;

	.formWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;

		width: 500px;

		.register {
			padding-bottom: 30px;
		}

		.lastRow {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			width: 100%;
		}

		.submit {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;

			width: 100%;
			padding: 20px;
		}
	}
}
