.divWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    height: 100%;
    padding: 50px 0;

    .formWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        width: 500px;

        .register {
            padding-bottom: 30px;
        }

        .lastRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;
        }
    }
}
