.containerWrapper {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: grid;
	position: relative;
	grid-template-columns: 1fr auto;
	grid-template-rows: 80px auto 50px;
	grid-template-areas: "header" "main" "footer";

	.header {
		grid-area: header;
	}
	.outlet {
		grid-area: main;
	}
	.footer {
		grid-area: footer;
	}

	.button {
		background: #8fdac833;
		text-decoration: none;
		color: black;
		border: 1px solid #8fdac8;
		text-decoration: none;
		width: 200px;
		border-radius: 20px;

		&:hover {
			background-color: #8fdac8;
		}
	}
}
