.boxWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin-top: 30px;
	width: 750px;
	min-height: 100px;

	.displayInfo {
		display: flex;
		flex-direction: column;

		width: 400px;
		min-height: inherit;
		height: 100%;
		padding: 5px;

		background: rgba(143, 218, 200, 0.2);
		border-radius: 20px;

		.tableHeader {
			padding: inherit;
			text-align: center;
		}

		.tableWrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: inherit;
		}
	}
}
.notFoundWrapper {
	display: flex;
	flex-direction: column;

	height: 60%;
	justify-content: space-evenly;

	.notFoundSubtitle {
		color: #ba6262;
	}

	.actionButtonWrapper {
		display: inherit;
		justify-content: center;
	}
}
