.divWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;

	.lastRow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: 450px;
	}

	.submit {
		padding: 20px;
	}
}
